@media (max-width: 1023px){
    .item{
        .right{
            padding: 0px;
        }
        .left{
            width: 100%;
        }
        .image{
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 767px){
    .products{
        .product{
            .image{
                width: 100%;
            }
            .price{
                margin-bottom: 10px;
            }
            .city{
                position: initial;
                margin-top: 4px;
            }
        }
    }
    .item .item-wrapper .image{
            height: 340px;
    }
}

@media (max-width: 479px){
    header{
        .header-wrapper{
            justify-content: center;
        }
        .logo{
            margin-bottom: 5px;
        }
    }
}