<div class="main">
    <div class="container">
        {{> breadcrumb}}
        <div class="products">
            {{#each items}}
                {{> product this}}
                {{#unless @last}} <div class="h-line"></div> {{/unless}}
            {{else}}
                <p class="no-found">No se encontró ningún producto que cumpla con esa búsqueda.</p>
            {{/each}}
        </div>
    </div>
</div>