* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: #333; }

body {
  background-color: #eeeeee; }

a {
  text-decoration: none; }

.container {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0px 30px; }

header {
  background-color: #ffe600;
  padding: 10px 0px;
  margin-bottom: 16px; }
  header .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  header .logo {
    margin-right: 20px; }
  header .search-box {
    flex-grow: 1;
    background-color: white;
    display: flex;
    border-radius: 4px;
    height: 35px;
    align-items: center; }
    header .search-box input {
      border: none;
      flex-grow: 1;
      font-size: 16px;
      padding: 10px;
      background-color: transparent; }
      header .search-box input::placeholder {
        color: #bbb; }
    header .search-box button {
      height: 100%;
      width: 40px;
      background-color: #eeeeee;
      border: none;
      cursor: pointer;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }

.breadcrumb {
  color: #999;
  font-size: 14px;
  margin-bottom: 16px; }
  .breadcrumb a {
    color: #999; }
    .breadcrumb a:hover {
      text-decoration: underline; }

.products {
  background-color: white;
  border-radius: 4px;
  padding: 0px 16px;
  margin-bottom: 20px; }
  .products .product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px 0px;
    position: relative; }
    .products .product .image {
      width: 180px;
      height: 180px;
      background-size: cover;
      background-position: center;
      margin-right: 16px;
      border-radius: 4px; }
    .products .product .price {
      font-size: 24px;
      margin-bottom: 32px;
      margin-top: 16px; }
    .products .product .decimals {
      font-size: 12px;
      vertical-align: top;
      display: inline-block;
      margin-top: 4px;
      margin-left: 2px; }
  .products .city {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 12px;
    color: #999;
    width: 180px; }
  .products .h-line {
    width: 100%;
    border: 1px solid #eeeeee; }

.no-found {
  font-size: 24px;
  text-align: center;
  padding: 15px 0px; }

.item {
  padding-bottom: 32px; }
  .item .left {
    width: 680px; }
  .item .right {
    padding-left: 16px;
    flex: 1;
    min-width: 220px; }
  .item .main {
    display: flex;
    flex-wrap: wrap; }
  .item .item-wrapper {
    padding: 32px;
    background-color: white;
    border-radius: 4px; }
    .item .item-wrapper .image {
      width: 100%;
      height: 680px;
      background-position: center;
      background-size: cover; }
    .item .item-wrapper .info {
      font-size: 14px;
      margin-bottom: 16px; }
    .item .item-wrapper .title {
      font-size: 24px; }
    .item .item-wrapper .price {
      font-size: 46px;
      margin: 32px 0px; }
    .item .item-wrapper button {
      width: 100%;
      background-color: #3483fa;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 4px;
      transition: 0.1s;
      cursor: pointer;
      font-size: 16px; }
      .item .item-wrapper button:hover {
        background-color: #6aa4fb; }
    .item .item-wrapper .description h2 {
      margin: 32px 0px;
      font-size: 28px; }
    .item .item-wrapper .description p {
      font-size: 16px;
      color: #666; }
