@import '../vars.scss';

.itemWrapper{
    padding: $large-margin;
    background-color: white;
    border-radius: $radius;
    .left{
        width: 680px;
    }
    .right{
        padding-left: $small-margin;
        flex: 1;
        min-width: 190px;
    }
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
    .image{
        width: 100%;
        height: 680px;
        background-position: center;
        background-size: cover;
    }
    .info{
        font-size: 14px;
        margin-bottom: $small-margin;
    }
    .title{
        font-size: 24px;
    }
    .price{
        font-size: 46px;
        margin: $large-margin 0px;
    }
    button{
        width: 100%;
        background-color: $button-color;
        color: white;
        border: none;
        padding: 10px;
        border-radius: $radius;
        transition: 0.1s;
        cursor: pointer;
        font-size: 16px;
        &:hover{
            background-color: #6aa4fb;
        }
    }
    .description{
        h2{
            margin: $large-margin 0px;
            font-size: 28px;
        }
        p{
            font-size: 16px;
            color: #666;
            word-break: break-word;
        }
    }
}


@media (max-width: 1023px){
    .itemWrapper{
        .main{
            grid-template-columns: 1fr;
        }
        .right{
            padding: 0px;
        }
        .left{
            width: 100%;
        }
        .image{
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 767px){
    .itemWrapper .image{
        height: 340px;
    }
}